# IDEs
/.idea/
/.vscode/

# Caches
.DS_Store
__pycache__/
/.*cache/
/.hypothesis/

# Build
*.so
/target/
/dist/
/docs/_build/

# Coverage
/.coverage
/coverage.xml

# Docs
docs/generated/

# Lock files
Cargo.lock
uv.lock
