[package]
name = "zarrs-python"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "zarrs_python"
crate-type = ["cdylib"]

[dependencies]
pyo3 = "0.22.6"
zarrs = "0.18.0-beta.0"
rayon_iter_concurrent_limit = "0.2.0"
rayon = "1.10.0"
# fix for https://stackoverflow.com/questions/76593417/package-openssl-was-not-found-in-the-pkg-config-search-path
openssl = { version = "0.10", features = ["vendored"] }
numpy = "0.22.1"
unsafe_cell_slice = "0.2.0"
serde_json = "1.0.128"

[profile.release]
lto = true
